html {
  font-family: Merriweather, Serif;
  box-sizing: border-box;
  line-height: 1.5;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    align-items: center;
  }

.columns {
  justify-content: space-around;
}
